$main-accent: #4527a0;

// GENERAL
$color-body-font: #333;
$color-head-foot-bg:rgba(177, 133, 231, 0.46);
$color-body-background: #fff;
$color-link: #391FE7;
$color-link-hover-background: #ffea00;
$color-link-hover-border: #666;
$color-blockquote: #666;

// CODE
$color-code-background: #272822;
$color-code-color: #f8f8f2;

// HEADER
$color-header-background: $color-head-foot-bg;
$color-header-text: $main-accent;
$color-middle-shadow: #ffea00;
$color-back-shadow: #00e676;
$color-nav-link-hover: #fff;
$color-header-text: #fff;
$color-header-text-shadow: #403b3b;

// FOOTER
$color-footer-background: $color-head-foot-bg;
$color-footer-text: #fff;

$color-footer-icon: #ede7f6;
$color-footer-icon-hover: #fff;
$color-footer-icon-background-start: #111;
$color-footer-link: #fff;
$color-footer-text-shadow: $color-header-text-shadow;

$color-twitter: #55acee;
$color-magento: #f46f25;
$color-linkedin: #0077b5;
$color-instagram: #e4405f;
$color-github: #bd2c00;
$color-codepen: #fcd000;
$color-rss: #f69537;
$color-envelope: #0072c6;
$color-dev: #3b49df;

// POST
$color-post-title-border: $main-accent;
$color-post-category: #737373;

// POST LIST
$color-post-list-title-border: $main-accent;
$color-post-list-title: #111;
$color-post-hover-shadow: #bbb;

// LINK LIST
$color-linkbox-border: $main-accent;

// VIEW ALL
$color-view-all-button: $main-accent;
$color-view-all-button-text: $color-body-background;