.c-dev-diary__list {
  list-style: none;
  padding: 0;
  margin: 0;

  // Adding an icon to indicate external links, only Dev Diary page for now
  // https://css-tricks.com/css-not-with-multiple-classes/
  a[href^="http://"]:not([href*="localhost:1313"]):not([href*="clairecodes.com"]),
  a[href^="https://"]:not([href*="localhost:1313"]):not([href*="clairecodes.com"]) {
    &::after {
      content: "(external link)";
      display: inline-block;
      width: 14px;
      height: 14px;
      text-indent: 14px;
      white-space: nowrap;
      overflow: hidden;
      background-image: url(/icons/external-link-alt.svg);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 100%;
      margin-left: 3px;

      // https://stackoverflow.com/questions/16100956/prevent-after-element-from-wrapping-to-next-line
      // content: "";
      // /* display: inline-block; */
      // /* width: 14px; */
      // /* height: 14px; */
      // text-indent: 14px;
      // white-space: nowrap;
      // overflow: hidden;
      // background-image: url(/icons/external-link-alt.svg);
      // background-repeat: no-repeat;
      // background-position: 50% 40%;
      // background-size: contain;
      // margin-left: 4px;
      // padding: 7px;
    }
  }
}

.c-dev-diary__item {
  border: 5px solid $color-dev-diary-border;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 5px 5px $color-middle-shadow, 10px 10px $color-back-shadow;

  @media (max-width: $mobile-breakpoint) {
    padding: 10px;
  }
}

.c-dev-diary__date {
  margin-bottom: 15px;
  margin-top: 0;
  display: inline-block;
  border-bottom: 3px dashed lighten($color-dev-diary-border, 30%);
}

.c-dev-diary__entry-list {
  list-style: disc;
  padding-left: 20px;
}

.c-dev-diary__entry {
  // This is to stop dead long links mucking the width up on small screens
  div {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.c-post {
  .c-dev-diary__entry {
    &:not(:last-child) {
      border-bottom: 3px dashed lighten($color-dev-diary-border, 30%);
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
  }
}

.c-dev-diary__link {
  text-decoration: none;
  color: inherit;
}
