.c-header {
  background-color: $color-head-foot-bg;
  background-image: linear-gradient(
      112deg,
      rgba(177, 133, 231, 0.46) 0%,
      rgba(177, 133, 231, 0.46) 14.286%,
      rgba(183, 112, 233, 0.46) 14.286%,
      rgba(183, 112, 233, 0.46) 28.572%,
      rgba(188, 90, 234, 0.46) 28.572%,
      rgba(188, 90, 234, 0.46) 42.858%,
      rgba(194, 69, 236, 0.46) 42.858%,
      rgba(194, 69, 236, 0.46) 57.144%,
      rgba(199, 48, 238, 0.46) 57.144%,
      rgba(199, 48, 238, 0.46) 71.43%,
      rgba(205, 26, 239, 0.46) 71.43%,
      rgba(205, 26, 239, 0.46) 85.716%,
      rgba(210, 5, 241, 0.46) 85.716%,
      rgba(210, 5, 241, 0.46) 100.002%
    ),
    linear-gradient(
      157deg,
      rgb(73, 186, 245) 0%,
      rgb(73, 186, 245) 14.286%,
      rgb(64, 170, 226) 14.286%,
      rgb(64, 170, 226) 28.572%,
      rgb(55, 154, 206) 28.572%,
      rgb(55, 154, 206) 42.858%,
      rgb(46, 138, 187) 42.858%,
      rgb(46, 138, 187) 57.144%,
      rgb(37, 121, 168) 57.144%,
      rgb(37, 121, 168) 71.43%,
      rgb(28, 105, 148) 71.43%,
      rgb(28, 105, 148) 85.716%,
      rgb(19, 89, 129) 85.716%,
      rgb(19, 89, 129) 100.002%
    );
  margin-bottom: 40px;
  padding: 2rem 1rem;

  @media (max-width: $mobile-breakpoint) {
    padding: 1rem 0.75rem;
    margin-bottom: 20px;
  }
}

.c-header__container {
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-breakpoint) {
    grid-template-rows: auto 50px;
  }
}

.c-header__title {
  color: $color-header-text;
  font-family: $header-font-family;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: 3px 0 $color-header-text-shadow;
  grid-column: span 1;

  @media (max-width: $tablet-breakpoint) {
    width: 100%;
    font-size: 40px;
    grid-column: 1 / span 2;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 30px;
  }
}

.c-header__links-container {
  grid-column: span 1;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-breakpoint) {
    grid-column: 1 / span 2;
    align-items: flex-end;
  }
}

.c-header__links-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  flex-grow: 1;
  margin: 0;
}

.c-header__nav-item {
  &:not(:last-child) {
    @media (min-width: $mobile-breakpoint + 1) {
      margin-right: 5px;
    }
  }
}

.c-header__link {
  text-decoration: none;
  font-size: 20px;
  color: $color-header-text;
  padding: 5px 10px;
  text-shadow: 1px 0 $color-header-text-shadow;

  @media (max-width: $mobile-breakpoint) {
    font-size: 16px;
    padding: 0;
  }

  &:hover,
  &:active {
    color: $color-nav-link-hover;
    background-color: $color-header-text;
    border: none;
    border-radius: 0;
  }
}

.c-header__home-link {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active {
    background-color: inherit;
    border-top: none;
    border-bottom: none;
    transition: none;
    border-radius: 0;
  }
}
