.c-post {
    img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
}

.c-post__title {
    border-bottom: 5px solid $color-post-title-border;
    line-height: initial;
    font-size: 32px;

    @media (max-width: $mobile-breakpoint) {
        margin-top: 0;
        font-size: 26px;
    }
}

.c-post__categories {
    font-style: italic;
}

.c-post__category {
    color: $color-post-category;
}

.c-post__footer {
    border-top: 5px solid $color-post-title-border;
    margin-top: 40px;
    padding-top: 20px;
}

.c-post__date {
    font-family: $header-font-family;
}
