.o-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.o-main__wrapper {
    max-width: 42rem;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;

    @media (max-width: $mobile-breakpoint) {
        padding: 0 1rem;
        font-size: 16px;
        line-height: 26px;
    }
}

.u-visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
