.c-post {
    font-size: 18px;
    line-height: 30px;
}

.c-post__title {
    border-bottom: 5px solid $color-post-title-border;
    line-height: initial;

    @media (max-width: $mobile-breakpoint) {
        margin-top: 0;
    }
}

.c-post__categories {
    font-style: italic;
}

.c-post__category {
    color: $color-post-category;
}

.c-post__footer {
    border-top: 5px solid $color-post-title-border;
    margin-top: 40px;
    padding-top: 20px;
}
