<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        <title> Hello &middot; {{ .Site.Title }} </title>

        {{ partial "head.html" . }}
    </head>

    <body>
        <main>
            <div class="o-main__wrapper c-post">
                <h1 class="c-post__title">Hello 👋</h1>

                <div class="post-content">
                    <p><a href="https://www.clairecodes.com/">Welcome to my website!</a> Here's a bunch of relevant links about me or that I've shared on Instagram lately:</p>

                    <a href="{{ range first 1 (where .Site.RegularPages 'Section' 'blog') }}{{ .Permalink }}{{ end }}" class="c-linktree__link c-linktree__link--highlighted">My latest blog post</a>

                    <a href="https://codepen.io/claireparker/" class="c-linktree__link">My CodePen account</a>

                    <a href="https://dev.to/claireparker" class="c-linktree__link">My blog posts on Dev.to</a>

                    <a href="/about" class="c-linktree__link">About Me</a>

                    <a href="/interesting" class="c-linktree__link">What I've been interested in lately</a>

                    <a href="https://uk.linkedin.com/in/claireparker2" class="c-linktree__link">My LinkedIn profile</a>

                </div>
            </div>
        </main>
    </body>
</html>
