<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        <title> Hello &middot; {{ .Site.Title }} </title>
        <meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">

        {{ partial "head.html" . }}
    </head>

    <body>
        <main>
            <div class="o-main__wrapper c-post">
                <h1 class="c-post__title">Hello 👋</h1>

                <div class="post-content">
                    <p><a href="https://www.clairecodes.com/">Welcome to my website clairecodes.com!</a> Here's a bunch of relevant links:</p>

                    {{ range first 1 (where .Site.RegularPages "Section" "blog") }}<a href='{{ .Permalink }}' class="c-linktree__link c-linktree__link--highlighted">My latest blog post: <br> "{{ .Title }}"</a>{{ end }}
                    
                    <a href="/dev-diary" class="c-linktree__link">Dev Diary entries</a>
                    
                    <a href="/about" class="c-linktree__link">About Me</a>
                    
                    <a href="/blog/" class="c-linktree__link">All my blog posts</a>
                    
                    <a href="https://codepen.io/claireparker/" class="c-linktree__link">CodePen account</a>
                </div>
            </div>
        </main>
    </body>
</html>
