<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        <title> Hello &middot; {{ .Site.Title }} </title>

        {{ partial "head.html" . }}
    </head>

    <body>
        <main>
            <div class="o-main__wrapper c-post">
                <h1 class="c-post__title">Hello 👋</h1>

                <div>
                    <p>Welcome to <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}!</a> Click one of the links below to explore:</p>

                    {{ range first 1 (where .Site.RegularPages "Section" "blog") }}<a href='{{ .Permalink }}' class="c-click-me__link c-click-me__link--highlighted">Latest blog post:<br>"{{ .Title }}"</a>{{ end }}
                    
                    {{ range first 1 (where .Site.RegularPages "Section" "dev-diary") }}<a href='{{ .Permalink }}' class="c-click-me__link">Latest Dev Diary entry: {{ .Date.Format "2 January 2006" }}</a>{{ end }}
                    
                    <a href="/about" class="c-click-me__link">About Me</a>
                    
                    <a href="/blog/" class="c-click-me__link">All my blog posts</a>
                    
                    <a href="https://codepen.io/clairecodes/" class="c-click-me__link">CodePen account&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </main>
    </body>
</html>
