<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title> 404 oh no! &middot; {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

	</head>
	<body>
		{{ partial "header.html" . }}
		<main role="main">
			<div class="o-main__wrapper">
				<div class="c-404__emoji">(╯°□°）╯︵ ┻━┻</div>
				<div class="c-404__emoji">┬──┬ ノ( ゜-゜ノ)</div>
				<div class="c-404__emoji">(╯°Д°）╯︵┻━┻</div>
				<div class="c-404__emoji">┬──┬ ノ( ゜-゜ノ)</div>
				<div class="c-404__emoji">(ノಠ益ಠ)ノ彡/(.□ . \)</div>
				<p class="c-404__text">You've found the 404 page and appear to be lost. Go <a href="/">home</a>.</p>
			</div>
		</main>
		{{ partial "footer.html" . }}
	</body>
</html>
