<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title> 404 oh no! &middot; {{ .Site.Title }} </title>
		<meta name="description" content="404 page for clairecodes website.">

		{{ partial "head.html" . }}

	</head>
	<body>
		{{ partial "header.html" . }}
		<main>
			<div class="o-main__wrapper">
				<h1>404 page</h1>
				<div class="c-404__emoji c-404__emoji--angry">(╯°□°）╯︵ ┻━┻</div>
				<div class="c-404__emoji c-404__emoji--calm">┬──┬ ノ( ゜-゜ノ)</div>
				<div class="c-404__emoji c-404__emoji--angry">(╯°Д°）╯︵┻━┻</div>
				<div class="c-404__emoji c-404__emoji--calm">┬──┬ ノ( ゜-゜ノ)</div>
				<div class="c-404__emoji c-404__emoji--angry">(ノಠ益ಠ)ノ彡/(.□ . \)</div>
				<p class="c-404__text">You've found the 404 page and appear to be lost. Go <a href="/">home</a>.</p>
			</div>
		</main>
		{{ partial "footer.html" . }}
	</body>
</html>
