<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title> {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

	</head>
	<body class="o-body">
		{{ partial "header.html" . }}

        <div class="o-main__wrapper">
			Hello 👋 This is my personal site. I'm still trying to work out what to put on this page, sigh, so while I do, why not:
			<ul>
				<li>read a post from my <a href="blog">blog</a>, where I write about frontend web development</li>
				<li>find out what I'm finding interesting right now on my <a href="interesting">interesting page</a></li>
				<li>peruse my photos on my coding-themed <a href="https://www.instagram.com/claire_codes/">Instagram account</a></li>
				<li>turn your computer or phone off and go outside ☀️</li>
			</ul>
		</div>

        {{ partial "footer.html" . }}
    </body>
</html>
