<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

	<head>
		<title> {{ .Title }} &middot; {{ .Site.Title }} </title>
		<meta name="description" content="The Dev Diary of clairecodes. Weekly posts detailing what I've been working on as a developer: side-projects, blog posts, links to interesting articles and more.">

		{{ partial "head.html" . }}
	</head>

	<body>
        {{ partial "skip-link.html" . }}
		{{ partial "header.html" . }}

		<main id="main">
			<div class="o-main__wrapper">
				<div>
					<h1>{{ .Title }}</h1>
					{{.Content}}
				</div>

				<div>I have written {{ len .Pages }} dev diaries since 2017! But only the latest 5 are posted here. I'll be posting the older ones under an archive soon.</div>
				
				<ul class="c-dev-diary__list c-view-all--off js-post-list">
				{{ range first 5 .Pages }}
					<li class="c-dev-diary__item">
						<h2 class="c-dev-diary__date">
							<a class="c-dev-diary__link" href="{{ .Permalink }}">{{ .Title }}</a>
						</h2>

						{{.Content}}

						{{ partial "dev-diary-list.html" . }}
					</li>
				{{ end }}
				</ul>
			</div>
		</main>
		{{ partial "footer.html" . }}

		<script src="/js/view-all.js"></script>
	</body>
</html>
