<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
        <meta name="description" content="The Dev Diary Entry for {{ .Date.Format "Monday, 2 January 2006" }} written by clairecodes. A weekly post detailing what I've been working on as a developer: side-projects, blog posts, links to interesting articles and more.">

        {{ partial "head.html" . }}
    </head>

    <body>
        {{ partial "skip-link.html" . }}
        {{ partial "header.html" . }}

        <main id="main">
            <article class="o-main__wrapper c-post">
                <h1 class="c-post__title">{{ .Title }}</h1>
                <div>
                    <p>{{.Content}}</p>
                    <ul class="c-dev-diary__entry-list">
                        {{ range .Params.interests }}
                        <li class="c-dev-diary__entry">{{ . | markdownify }}</li>
                        {{ end }}
                    </ul>
                </div>
                <p>✍️ <a href="/dev-diary">View all my Dev Diary posts here.</a></p>
            </article>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
