<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title> {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

	</head>
	<body class="o-body">
		{{ partial "header.html" . }}

        <div class="o-main__wrapper">
			Hello 👋 This is the main page of my personal site. I'm still trying to work out what to put on here, sigh, so while I do, why not look at my:
			<ul>
				<li><a href="blog">blog</a></li>
				<li><a href="interesting">interesting page</a></li>
				<li><a href="https://www.instagram.com/claire_codes/">Instagram account</a></li>
				<li>or just carry on with your day somewhere else on the internet</li>
			</ul>
		</div>

        {{ partial "footer.html" . }}
    </body>
</html>
