<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

	<head>
		<title> {{ .Title }} &middot; {{ .Site.Title }} </title>

		{{ partial "head.html" . }}
	</head>

	<body>
		{{ partial "header.html" . }}
		<main>
			<div class="o-main__wrapper">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1 id=>{{ .Title }}</h1>
						{{.Content}}
					</div>
				</div>
				<ul id="post-list">
	        	{{ range .Paginator.Pages }}
					<li>
						<div class="post-list-item">
							<div class="post-header">
								<h2 class="post-link"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
								<h3 class="post-date">{{ .Date.Format "Jan 2, 2006" }}</h3>
							</div>
							<div class="post-summary"><p>{{ .Params.summary }}</p></div>
						</div>
					</li>
				{{ end }}
				</ul>
			</div>
		</main>
		{{ partial "footer.html" . }}
	</body>
</html>
