@import 'partials/_fonts';
@import 'partials/_colours';

@import 'partials/_elements';
@import 'partials/_site';

// COMPONENTS
@import 'partials/_footer';
@import 'partials/_header';

body {
    color: $color-body-font;
     font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
}
