$main-accent: #4527a0;

// GENERAL
$color-body-font: #333;
$color-head-foot-bg: #ede7f6;
$color-body-background: #fff;
$color-link: #1e88e5;
$color-link-hover-background: #ffea00;
$color-link-hover-border: #ccc;
$color-blockquote: #ccc;

// CODE
$color-code-background: #272822;
$color-code-color: #f8f8f2;

// HEADER
$color-header-background: $color-head-foot-bg;
$color-header-text: $main-accent;
$color-middle-shadow: #ffea00;
$color-back-shadow: #00e676;
$color-nav-link-hover: #fff;

// FOOTER
$color-footer-background: $color-head-foot-bg;
$color-footer-text: #737373;

$color-footer-icon: $color-footer-background;
$color-footer-icon-hover: #fff;
$color-footer-icon-background-start: #111;

$color-twitter: #55acee;
$color-magento: #f46f25;
$color-linkedin: #0077b5;
$color-instagram: #e4405f;
$color-github: #bd2c00;
$color-codepen: #fcd000;
$color-rss: #f69537;

// POST
$color-post-title-border: $main-accent;
$color-post-category: #737373;

// POST LIST
$color-post-list-title-border: $main-accent;
$color-post-list-title: #111;
$color-post-hover-shadow: #bbb;

// LINK LIST
$color-linkbox-border: $main-accent;
