// GENERAL
$color-body-font: #333;
$color-head-foot-bg: #ede7f6;
$color-body-background: #fff;

// HEADER
$color-header-background: $color-head-foot-bg;

// FOOTER
$color-footer-background: $color-head-foot-bg;
$color-footer-text: #737373;

// POST
$color-post-category: #737373;
