@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('/fonts/opensans-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'SourceSerif';
    src: url('/fonts/sourceserifpro-regular-webfont.woff2') format('woff2'),
    url('/fonts/sourceserifpro-regular-webfont.woff') format('woff');
}

$header-font: 'Nobile', sans-serif;
