.c-footer {
    background-color: $color-footer-background;
    background-image: linear-gradient(to top, $color-head-foot-bg 80%, $color-body-background);
    color: $color-footer-text;
    font-size: 14px;
    padding: 30px 10px 10px;
    margin-top: 40px;
    text-align: center;

    div:not(.c-footer__social-container) {
        margin-bottom: 5px;
    }
}

.c-footer__social-container {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 10px auto 15px;
}

// Credit to https://stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css

$color-icon: $color-footer-background;
$color-icon-hover: #efefef;
$color-background-start: #111;

$color-twitter: #55acee;
$color-magento: #f46f25;
$color-linkedin: #0077b5;
$color-instagram: #e4405f;
$color-github: #bd2c00;
$color-codepen: #fcd000;

.c-footer__social-icon {
    font-size: 30px;
    background-color: $color-background-start; //fallback
    background-size: 200% 100%;
    background-position: left bottom;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    color: $color-icon;
    text-decoration: none;

    &:hover,
    &:active {
        background-position: right bottom;
        cursor: pointer;
        color: $color-icon-hover;
    }
}

.icon--twitter {
    background-image: linear-gradient(
        to right,
        $color-background-start 50%,
        $color-twitter 50%
    );
}

.icon--magento {
    background-image: linear-gradient(
        to right,
        $color-background-start 50%,
        $color-magento 50%
    );
}

.icon--linkedin {
    background-image: linear-gradient(
        to right,
        $color-background-start 50%,
        $color-linkedin 50%
    );
}

.icon--instagram {
    background-image: linear-gradient(
        to right,
        $color-background-start 50%,
        $color-instagram 50%
    );
}

.icon--github {
    background-image: linear-gradient(
        to right,
        $color-background-start 50%,
        $color-github 50%
    );
    &:hover {
        color: $color-background-start;
    }
}

.icon--codepen {
    background-image: linear-gradient(
        to right,
        $color-background-start 50%,
        $color-codepen 50%
    );
    &:hover {
        color: $color-background-start;
    }
}
