.c-footer {
    background-color: $color-footer-background;
    color: $color-footer-text;
    font-size: 14px;
    padding: 10px;
    text-align: center;

    div {
        margin-bottom: 5px;
    }
}

.c-footer__social-container {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
}

.c-footer__social-icon {
    font-size: 30px;
}