$color-header-text: #4527A0;
$color-middle-shadow: #FFEA00;
$color-back-shadow: #00E676;
$size-stroke-width: 2px;

.c-header {
    background-color: $color-head-foot-bg;
}

.c-header__title {
    color: $color-header-text;
    font-family: sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 3px 0px $color-middle-shadow, 6px 0px $color-back-shadow;
    width: 49%;
    display: inline-block;
}

.c-header__links-container {
    width: 50%;
    display: inline-block;
}

.c-header__links-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.c-header__link {

}
