$size-stroke-width: 2px;

.c-header {
    background-color: $color-head-foot-bg;
    background-image: linear-gradient(to bottom, $color-head-foot-bg 80%, $color-body-background);
    margin-bottom: 40px;
    padding: 2rem 1rem;
}

.c-header__container {
    max-width: 50rem;
    margin: 0 auto;
}

.c-header__title {
    color: $color-header-text;
    font-family: $header-font-family;
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 3px 0 $color-middle-shadow, 6px 0 $color-back-shadow;
    width: 49%;
    display: inline-block;
}

.c-header__links-container {
    float: right;
}

.c-header__links-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.c-header__nav-item {
    &:not(:last-child) {
        margin-right: 5px;
    }
}

.c-header__link {
    text-decoration: none;
    font-size: 20px;
    color: $color-header-text;
    padding: 5px 10px;

    &:hover {
        color: $color-nav-link-hover;
        background-color: $color-header-text;
        border: none;
        border-radius: 0;
    }
}
