.c-interesting__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.c-interesting__item {
    border: 5px solid $color-header-text;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 5px 5px $color-middle-shadow, 10px 10px $color-back-shadow;

    @media (max-width: $mobile-breakpoint) {
        padding: 10px;
    }
}

.c-interesting__date {
    margin-bottom: 15px;
    margin-top: 0;
    display: inline-block;
    border-bottom: 3px dashed lighten($color-header-text, 30%);
}

.c-interesting__entry-list {
    list-style: disc;
    padding-left: 20px;
}

.c-interesting__entry {
    // This is to stop dead long links mucking the width up on small screens
    div {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.c-post {
    .c-interesting__entry {
        &:not(:last-child) {
            border-bottom: 3px dashed lighten($color-header-text, 30%);
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }
}
