.c-post-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.c-post-list__link {
    text-decoration: none;
}

.c-post-list__title {
    color: $color-post-list-title;
    font-size: 50px;
    margin: 20px 0;
    border-bottom: 5px solid $color-post-list-title-border;
    padding-bottom: 5px;
    &:hover {
        color: $color-post-list-title-border;
        border-bottom-color: $color-post-list-title;
        text-shadow: 3px 3px $color-post-hover-shadow;
    }
}

.c-post-list__item {
    margin-bottom: 50px;
}
