.c-post {
    font-size: 18px;
    line-height: 30px;
}

.c-post__title {
    border-bottom: 5px solid rebeccapurple;
    line-height: initial;
}

.c-post__categories {
    color: $color-post-category;
    font-style: italic;
}
