.o-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.o-main__wrapper {
    max-width: 42rem;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;

    @media (max-width: $mobile-breakpoint) {
        padding: 0 1rem;
        font-size: 16px;
        line-height: 26px;
    }
}
